NODE_ENV=development
PORT=8000
CORS_ORIGIN=https://task-manager-frontend-qzyl.onrender.com,http://localhost:5173,http://localhost:4173
SESSION_SECRET=just-an-example-feel-free-to-change
DATABASE_URL=postgresql://jocke_mm:hejhej@localhost:5432/task_manager
