body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

button {
  margin: 0 0.25em;
}

.todo-item {
  display: block;
  width: fit-content;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.pending {
  text-decoration: none;
  opacity: 1;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.button-container {
  margin: 0 0.5em;
  display: inline;
}